---
const {
  title,
  text,
  figure: { src, alt, caption }
} = Astro.props
---

<section class='Bio'>
  <article class='Bio-article'>
    <h1 class='Bio-article-h1'>{title}</h1>
    <p class='Bio-article-p'>{text}</p>
  </article>

  <article class='Bio-article-sm'>
    <h1 class='Bio-article-h1'>{title}</h1>
    <p class='Bio-article-p'>{text}</p>
  </article>

  <article class='Bio-article-md'>
    <h1 class='Bio-article-h1'>{title}</h1>
    <p class='Bio-article-p'>{text}</p>
  </article>

  <figure class='Bio-figure'>
    <img class='Bio-figure-img' src={src} alt={alt} />
    <figcaption class='Bio-figure-figcaption'>{caption}</figcaption>
  </figure>

  <figure class='Bio-figure-sm'>
    <img class='Bio-figure-img' src={src} alt={alt} />
    <figcaption class='Bio-figure-figcaption'>{caption}</figcaption>
  </figure>

  <figure class='Bio-figure-md'>
    <img class='Bio-figure-img' src={src} alt={alt} />
    <figcaption class='Bio-figure-figcaption'>{caption}</figcaption>
  </figure>
</section>

<style>
  .Bio-article {
    @apply block sm:hidden;
  }

  .Bio-article-sm {
    @apply hidden sm:inline-block md:hidden;
    @apply align-top;
    @apply w-1/2;
  }

  .Bio-article-md {
    @apply hidden md:inline-block;
    @apply align-top;
    @apply w-2/3;
  }

  .Bio-article-h1 {
    @apply sr-only;
  }

  .Bio-figure {
    @apply block sm:hidden;
    @apply pt-8;
    margin: 0 auto;
    max-width: 322px;
  }

  .Bio-figure-sm {
    @apply hidden sm:inline-block md:hidden;
    @apply w-1/2;
    @apply pl-8 pt-1;
    max-width: 282px;
  }

  .Bio-figure-md {
    @apply hidden md:inline-block;
    @apply w-1/3;
    @apply pl-8 pt-1;
    max-width: 143px;
  }
</style>
