---
import { geoMaisonQuiroga } from '@/config'
import { head as partialHead } from './Head'
import '@styles/global.css'

import type { Bing, OpenGraph, ProfilePage, Twitter } from '@/schemas'
import type { HeadProps } from './Head'

const { address, addressCountry } = geoMaisonQuiroga

const { page } = Astro.props as { page: ProfilePage }

const {
  about: {
    image: [profile]
  }
} = page

const head: HeadProps = {
  ...partialHead,
  author: page.author.name,
  description: page.abstract,
  title: page.name
}

const og: OpenGraph = {
  image: profile.contentUrl,
  url: Astro.url,
  type: 'website',
  title: page.name,
  description: page.abstract
}

const twitter: Twitter = {
  image: profile.contentUrl,
  card: 'summary',
  site: '',
  title: page.name,
  description: page.abstract
}

const bing: Bing = {
  placename: `
    ${address.name},
    ${address.streetAddress},
    ${address.addressLocality},
    ${address.addressRegion}.
  `,
  region: addressCountry.identifier,
  position: `${geoMaisonQuiroga.latitude};${geoMaisonQuiroga.longitude}`
}
---

<head>
  <link rel='sitemap' href='/sitemap-index.xml' />
  <link rel='icon' href='/favicon.ico' sizes='32x32' />
  <link rel='icon' href='/icon.svg' type='image/svg+xml' />
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />

  <!--  Page -->
  <title>{head.title}</title>
  <meta name='dc.title' content={head.title} />
  <meta name='author' content={head.author} />
  <meta name='copyright' content={head.copyright} />
  <meta name='theme-color' content={head.themeColor} />
  <meta name='color-scheme' content={head.colorScheme} />

  <!-- Meta -->
  <link rel='canonical' href={head.canonical} />
  <meta name='title' content={head.title} />
  <meta name='keywords' content={head.keywords} />
  <meta name='description' content={head.description} />

  <!-- Open Graph -->
  <meta property='og:image' content={og.image} />
  <meta property='og:url' content={og.url} />
  <meta property='og:type' content={og.type} />
  <meta property='og:title' content={og.title} />
  <meta property='og:description' content={og.description} />

  <!-- Twitter -->
  <meta name='twitter:image' content={twitter.image} />
  <meta name='twitter:card' content={twitter.card} />
  <meta name='twitter:site' content={twitter.site} />
  <meta name='twitter:title' content={twitter.title} />
  <meta name='twitter:description' content={twitter.description} />

  <!-- Geo -->
  <meta name='geo.placename' content={bing.placename} />
  <meta name='geo.region' content={bing.region} />
  <meta name='geo.position' content={bing.position} />

  <!-- JSON-LD -->
  <script type='application/ld+json' set:html={JSON.stringify(page)} />
</head>
