---
import Logo from './Logo.astro';

const { logo: { alt, src} } = Astro.props
const h1 = {
    '*': 'RQV',
    sm: 'Roberto',
    md: 'Quiroga',
    lg: 'Valdovinos'
}
const h2 = {
    '*': 'Peintre',
    sm: 'Artiste',
    md: 'Valparaíso',
    lg: 'Chili'

}
---

<header class="Header">
    <Logo alt={alt} src={src}/>
    <h1 class="Header-h1">{h1['*']}</h1>
    <h1 class="Header-h1-sm">{h1.sm}</h1>
    <h1 class="Header-h1-md">{h1.sm + " " + h1.md}</h1>
    <h1 class="Header-h1-lg">{h1.sm + " " + h1.md + " " + h1.lg}</h1>
    <h2 class="Header-h2">{h2['*']}.</h2>
    <h2 class="Header-h2-sm">{h2.sm + " " + h2['*']}.</h2>
    <h2 class="Header-h2-md">
        {h2.sm + " " + h2['*']}.
        <span class="Header-h2--light">{h2.md}.</span>
    </h2>

    <h2 class="Header-h2-lg">
        {h2.sm + " " + h2['*']}.
        <span class="Header-h2--light">{h2.md}, {h2.lg}.</span>
    </h2>
</header>

<style>
    .Header-h1, .Header-h2 {
        @apply block sm:hidden;
    }

    .Header-h1-sm, .Header-h2-sm {
        @apply hidden sm:block md:hidden;
    }

    .Header-h1-md, .Header-h2-md {
        @apply hidden md:block lg:hidden;
    }

    .Header-h1-lg, .Header-h2-lg {
        @apply hidden lg:block;
    }

    .Header-h2--light {
        @apply text-gray-300;
    }
</style>