---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import imgLogo from '../assets/images/logo.jpg'

const head = {
  title: 'Maison Quiroga',
  author: 'Roberto Quiroga Valdovinos',
  description: `
        Roberto Quiroga Valdovinos. Artiste peintre. Œuvres et contact :
        @maisonquiroga (Instagram). Exposition permanente : Lautaro Rosas 558
        Cerro Alegre, Valparaíso, Chili.
    `
}

const header = {
  logo: {
    alt: 'Logo de Maison Quiroga',
    src: imgLogo
  }
}

const navItems = [
  {
    text: 'Œuvres choisies',
    href: 'https://www.instagram.com/maisonquiroga/'
  },
  {
    text: 'Contact',
    href: 'mailto:roberto@maisonquiroga.art'
  },
  {
    text: 'Adresse',
    href: 'https://www.openstreetmap.org/way/1304668361'
  }
]

const footerItems = [
  {
    text: 'redtech',
    href: 'https://redte.ch'
  }
]
---

<html lang='fr'>
  <Head
    title={head.title}
    author={head.author}
    description={head.description}
  />

  <body>
    <main>
      <Header logo={header.logo} />
      <Nav items={navItems} />
      <slot />
      <Footer items={footerItems} />
    </main>
  </body>
</html>
