---
import { get } from 'svelte/store'

import Footer from '~/components/Footer.svelte'
import Head from '~/components/Head.astro'
import Header from '~/components/Header.astro'
import Nav from '~/components/Nav.svelte'
import { adresseMaisonQuiroga } from '~/stores/PostalAddressStore'

import coverImage from '!/images/logo.jpg'

const { profileImage } = Astro.props
const images = { coverImage, profileImage }

const url = 'https://www.instagram.com/maisonquiroga/'
const title = 'Roberto Quiroga Valdovinos'
const {
  streetAddress,
  addressLocality,
  url: addressUrl
} = get(adresseMaisonQuiroga)
const address = `${streetAddress}, ${addressLocality}`
const position = '-33.04351;-71.62888'

const head = {
  url,
  images,
  title,
  position,
  keywords: ['Artiste', 'Peintre', 'Valparaíso', 'Chili'],
  description: `
        Artiste peintre. Œuvres et contact : @maisonquiroga (Instagram).
        Exposition : ${address}, Chili.
    `
}

const header = {
  logo: {
    alt: 'Logo de Maison Quiroga',
    src: coverImage
  }
}

const navItems = [
  {
    text: 'Œuvres choisies',
    href: url
  },
  {
    text: 'Contact',
    href: 'mailto:roberto@maisonquiroga.art'
  },
  {
    text: 'Adresse',
    href: addressUrl.href
  }
]

const footerItems = [
  {
    text: 'redtech',
    href: 'https://redte.ch'
  }
]
---

<html lang='fr'>
  <Head {...head} />

  <body>
    <main>
      <Header {...header} />
      <Nav {navItems} />
      <slot />
      <Footer {footerItems} />
    </main>
  </body>
</html>
